.home-intro{
    background-color: #E1AA7D;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-1{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    font-family: "Anton";
}
.tag-line{
    font-size: 30px;
    font-family: "Arvo";
    padding-top: 50px;
}