.list-item{
    color: black;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  padding: 5px;
  margin-top: 1%;
  width: 100%;
  box-shadow: 0 5px 8px 0 rgba(70, 70, 70, 0.2), 0 7px 20px 0 rgba(77, 77, 77, 0.2);
  overflow: hidden;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}